
.plantsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  border: 3px solid forestgreen;
  border-radius: 1rem;
  padding: 1rem;
  background: #DFF0D8;
}

.imageContainer {
  width: 70%;
  min-height: 50%;
  
}

.imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  border: 2px solid #4F5942;
}

.title {
  color: #4F5942;
  font-weight: 800;
}

h2 {
  color: #4F5942;
  text-decoration: underline forestgreen;
}

.container {
  margin: auto;
  width: 70%;
  color: forestgreen;
}